.container {
    width: 90%;
    margin: 0 auto;
}

header, footer {
    background-color: #333;
    color:aliceblue;
    padding: 10px;
    text-align: center;
}

/*
    media querie aplicando estilizando
    quando a tela estiver com o maximo de 600px
*/

main {
    padding: 20px;
    background-color: antiquewhite;
}

@media (max-width: 600px) {
    main {
        font-size: 1em;
        background-color: blueviolet;
    }

    header, footer {
        padding: 3px;
    }
}

/*
    media querie aplicando estilizando quando a tela estiver com o minimop de 601
*/

@media (min-width: 601px) {
    main {
        font-size: 2em;
        color:brown;
    }
}